{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
{% if venues.display %}
<section>
	<h2 class="monospace">New Venues</h2>
	<div class="row">
		{%for venue in venues.list %}
		<div class="col-sm-4">
			<div class="tile tile-venue" data-timestamp={{ venue.timestamp }}>
				<img src="{{ venue.image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ venue.id }}">{{ venue.name }}</a></h5>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}
{% if artists.display %}
<section>
	<h2 class="monospace">New Artists</h2>
	<div class="row">
		{%for artist in artists.list %}
		<div class="col-sm-4">
			<div class="tile tile-artist" data-timestamp={{ artist.timestamp }}>
				<img src="{{ artist.image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ artist.id }}">{{ artist.name }}</a></h5>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}
<script>
	// Get current date
	const now = Date.now();

	document.querySelectorAll('.tile-venue').forEach(venue => {
		const venueInsertDate = Date.parse(venue.dataset.timestamp);
		// Calculate the difference between now and the insert date
		let days = (now - venueInsertDate) / (1000 * 60 * 60 * 24)
		days = Math.ceil(days);
		let message = '';
		if (days === 1) {
			message = `${days} day ago`;
		} else {
			message = `${days} days ago`;
		}
		const badge = document.createElement('span');
		badge.classList = 'badge badge-secondary';
		badge.innerHTML = message;
		venue.appendChild(badge);
	});

	document.querySelectorAll('.tile-artist').forEach(artist => {
		const artistInsertDate = Date.parse(artist.dataset.timestamp);
		// Calculate the difference between now and the insert date
		let days = (now - artistInsertDate) / (1000 * 60 * 60 * 24)
		days = Math.ceil(days);
		let message = '';
		if (days === 1) {
			message = `${days} day ago`;
		} else {
			message = `${days} days ago`;
		}
		const badge = document.createElement('span');
		badge.classList = 'badge badge-secondary';
		badge.innerHTML = message;
		artist.appendChild(badge);
	});
</script>
{% endblock %}